a:link {
	color: #00ACCF;
	text-decoration: none;
}

a:visited {
	color: #00ACCF;
	text-decoration: none;
}

a:active {
	color: #00C7EF;
}

a:hover {
	/*color: #FF08DE;*/
	color: #26DAFF;
	
}


a.actual {

	/*color: #FF08DE;
	text-decoration: underline;*/
	border-bottom: solid;
	border-width:3px;
}



.user_login_box {
	margin-top: -0.4em;
	font-size: 1em;
	background-color: #FFFFCC;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	float:right;
	right:20px;
	padding-left: 6px;
	padding-right: 6px;
}

.select_language_box {

	margin-top: -0.4em;
	padding: 4px;
}


.select_language_box select {
	font-size: 0.9em;
	font-weight: bold;
	background-color: #fff;

}

.google_ads{

    padding: 15px;
    float: right;
    right:10px;
    margin-top:10px;
    margin-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #fff;
    
}

.ad_create_tab {
	position: absolute;
	right: 15px;
	

}

.ad_create_tab a {
	background:transparent url(/images/btn_new_ad.png) no-repeat scroll 100% 0;
	height:24px;
	overflow:hidden;
	color:#fff;
	font-size: 1.2em;
	font-weight: bold;
	border: 1px solid #ddd;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:2px;
	text-align:center;
	width:auto;
	display:block;
}


.ad_list_image {
	float:right;
	padding-left:4px;
	width:100px;
}

.ad_excerpt{
	float:left;
	border-bottom: 1px solid #ddd;
	width: 100% !important;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom:14px;
	padding-top:14px;
	margin:0;

}

.ad_excerpt h4{

	font-size: 1.3em;
	font-weight: bold;
}

.ad_excerpt:hover{
	background-color:#FFFFCC;
	
}
.ad_date{
	color:#666;
	font-size: 0.9em;
	font-weight: normal;
        padding-bottom: 5px;
}

.ad_excerpt_show{
	float:left;
        font-size: 1.2em;
	border-bottom: 1px solid #ddd;
	width: 100% !important;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom:14px;
	padding-top:14px;
	margin:0;

}


.ad_comments{
        padding-left: 18px;
        margin-bottom: 80px;
        
}

.ad_comment{
	float:left;
        font-size: 1em;
	border-bottom: 1px dashed #ddd;
	width: 100% !important;
	
	padding-right: 18px;
	padding-bottom:18px;
	margin-top: 14px;

}

.ad_comment span{
    clear: left;
    float: left;
     padding: 5px;
}


.ad_comments h5{
        
	font-size: 1.1em;
	font-weight: bold;
        margin-top: 20px;
}


.ad_comment_form{
        float: left;
        margin-bottom: 20px;
        margin-top: 20px;
}



.give-want {
	position: relative;
	width:auto;
	float:right;
	text-align:center;
	border: 1px solid #ddd;
	background-color: #fff;
	font-size: 2em;
	font-weight: bold;
	right: 10px;
	top:-50px;
	padding: 14px;
}



.errors{
	color:red;
}

/**
 * Layout.
 */
#header {
	margin-top: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 40px;
	position: relative;
	text-align: left;
	
}

#main {
	padding-top: 0;
	text-align: left;
}



#footer {
        font-size: 1em;
        line-height: 1.33em;
        float: left;
        margin-top:40px;
	padding:20px;
	clear: both;
	border-top: 1px solid #ddd;
        background-color: #F2F2F2;
}

 .links-right{
    text-align: right;
    margin-bottom: 10px;
    right: 10px;
}


 .links-left{
    text-align: left;
    left: 10px;
}
/**
 * Header Area.
 */
h1#site-name  {
	border: none;
	margin-top: 0px;
	padding-top: 10px;
	font-size: 3em;
	margin-left: 74px;
}
h1#site-name img {
	position:absolute;
	top:16px;
	left:20px;
}

h2#site-slogan {
	float:left;
	font-size: 1em;
	padding-top: 1px;
	margin-left: 74px;
}

#location_header_section {
	background-color: #E5F2FF;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#location_header_section  a{

    font-weight: bold;
}

#default_header_section {
	background-color: #FFFFCC;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


.pagination{
	clear:both;
	position:relative;
	margin: 14px;
	padding:6px;
	font-size:1.2em;
	text-align: left;
}

/**
* footer
*
*/
.page_footer {
	position: absolute;
	bottom: 20px;
	width: 99%;
	text-align: center;
	clear: both;
	font-size: 9pt;
	color: #999;
}


/* begin css tabs */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #ddd;
list-style-type: none;
padding: 3px 15px 3px 15px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li {
display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { 
padding: 3px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #ddd; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { 
background: #fff; 
}

/* end css tabs */




/* Base Superbox Styles ******************************************************************/
#superbox-overlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;}
#superbox-wrapper{position:fixed;z-index:9999;top:0;display:table;width:100%;height:100%;}
#superbox-container{position:relative;display:table-cell;width:100%;height:100%;margin:0;padding:0;vertical-align:middle;}
#superbox{margin:0 auto;padding:0;}
#superbox-container .loading{margin:0;text-align:center;}

/* IE7 */
*:first-child+html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
*:first-child+html #superbox{position:relative;top:-50%;display:block;}
/* IE6 - Thanks to Thickbox for IE expressions */
* html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
* html #superbox{position:relative;top:-50%;display:block;}
* html #superbox-overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight + 'px' : document.body.offsetHeight + 'px');}
* html #superbox-wrapper{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}


#superbox-container .loading{text-align:center;font-size:40px;color:#fff;}
#superbox{padding:10px;background:#fff;}
#superbox-innerbox{padding:10px 0;}
#superbox.image{text-align:center;}

/* nolotiro Theme */
#superbox-overlay{background:#e0e4cc;}
/*#superbox-overlay{background:#fff;}*/
#superbox-container .loading{width:32px;height:32px;margin:0 auto;text-indent:-9999px;background:url(loader.gif) no-repeat 0 0;}
#superbox .close a{float:right;padding:0 5px;line-height:20px;background:#333;cursor:pointer;}
#superbox .close a span{color:#fff;}
#superbox .nextprev a{float:left;margin-right:5px;padding:0 5px;line-height:20px;background:#333;cursor:pointer;color:#fff;}
#superbox .nextprev .disabled{background:#ccc;cursor:default;}
